<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<h2>Registrace platby</h2>
<div th:replace="fragments/navigation::navbar"></div>
<section>
    <form action="#" th:action="@{/uloz-platbu}" th:object="${platba}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label type="text">popis</label>
        <input type="text" th:field="*{popis}" />
        <label type="text">prevod</label>
        <input type="text" th:field="*{prevod}" />
        <input type="submit"/>
    </form>
</section>
</body>
</html>