<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<h2>Seznam uzivatelu</h2>
<div th:replace="fragments/navigation::navbar"></div>
<section>
    <div class="item-list" th:each="users:${uzivatelList}">
        <a class="item" th:href="@{/uzivatel-detail/{id} (id=${users.id})}" ><h4 th:text="${users.jmeno}"></h4></a>
    </div>
</section>
<section>
    <a class="action-but" th:href="@{'/uzivatel-reg-form'}">Zaloz noveho uzivatele</a>
</section>
</body>
</html>